* {
    box-sizing: border-box;
    color: white;
}

body{
    background-color: black;
}
nav{
    padding: 1em;
    background-color: rgb(15, 15, 15);
    margin-bottom: 8vh;
}

a {
    text-decoration: none;
    font-weight: bolder;
    font-size: larger;
    color: white;
}

a:hover{
    color:#E02B20;
}
img{
    width: 33vw;
    height: auto;
}
